<ion-header>
  <ion-toolbar mode="ios">
    
    <ion-buttons slot="start">
      <ion-button (click)="backToLabels()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'scan.scan'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="scan-box" (click)="scan()">
    <ion-icon style="font-size: 20rem;" name="scan-outline"></ion-icon>
    <ion-text><h2>{{'Click to Scan'|translate}}</h2></ion-text>
  </div>
</ion-content>