<ion-content class="ion-padding">
  
<ion-grid class="centered-grid">

  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col style="align-self: center; justify-self: center;">
      <img width="30%" src="assets\3CO\3_CO_sin_letras.png">
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col>
      <h3>{{'validateEmail.Title' | translate}}</h3>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col>
      <ion-note>{{ '6-digit-number' | translate }}</ion-note>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col>
      <form (ngSubmit)="onSubmit()" [formGroup]="validationForm">
      
        <div class="input-boxing">
          <ion-input 
            *ngFor="let input of inputs; let i = index"
            #digitInput
            [id]="i"
            [value]="inputs[i]"
            (ionInput)="onInputChange($event, i)"
            type="tel" pattern="[0-9]*"
            inputmode="numeric"
            class="digit-input"
          ></ion-input>
        </div>
    
        <ion-button expand="block" type="submit" [disabled]="validNumber">
          {{'validateEmail.button'|translate}}
        </ion-button>
      </form>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button style="margin-top: 1.5rem;" size="small" shape="outline" [disabled]="!canResend" (click)="resendCode()"> {{'resend-code' | translate}} <ion-note *ngIf="!canResend"> ({{ countdown }}s)</ion-note></ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row style="width: 100%;" class="ion-align-items-center ion-justify-content-center">
    <ion-col>
      <div class="links-container">
        <a href="auth/login">{{ 'login' | translate }}</a>
        <a href="auth/register">{{ 'register' | translate }}</a> 
      </div>
    </ion-col>
  </ion-row>

</ion-grid>


</ion-content>


















