3CO/src/app/shared/components/vjs-player/vjs-player.component.html
3CO/src/app/shared/components/vjs-player/vjs-player.component.scss
3CO/src/app/shared/components/vjs-player/vjs-player.component.spec.ts
3CO/src/app/shared/components/vjs-player/vjs-player.component.ts
