<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Label Certifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="home-container">
    
    <div id="title">
      <ion-text color="secondary">
        <h1>Discover the eco-environment certifications!</h1>
      </ion-text>
      <img src="assets/3CO/3_CO_sin_letras.png">
    </div>

    
    <div id="content">
      <!-- <ng-container *ngIf="!isLabelSelected else moreInfo"> -->

      <div id="descriptive-container">
      
        <div class="scan-container">
          <div class="app-banner">
            <p>Download our app for exclusive features.</p>
            <div class="store-buttons">
                <a href="https://apps.apple.com/us/app/3co/id6740620807" target="_blank">
                    <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="Download on the App Store">
                </a>
                <a href="https://play.google.com/store/apps/details?id=eu.project.threeco&pcampaignid=web_share" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Get it on Google Play">
                </a>
            </div>
        </div>
          <img src="assets/3CO/QRCode_read.png">
        </div>

        <div id="discover">
          <ion-text>
            <p style="font-weight: bold; color:var(--ion-color-primary)">Discover the Labels</p>
          </ion-text>
          <ion-button (click)="seeMoreLabels()" color="primary" fill="clear" shape="round">
            <ion-label id="scan-label">See all</ion-label>
          </ion-button>
        </div>

        
        <div class="labels-container">
          <ng-container *ngIf="featuredLabel$ | async as featuredLabel; else labelLoader">
          <ion-text>
            <h4>Featured Labels</h4>
          </ion-text>
          <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
            <div class="label-info-box" (click)="showMoreLabelInfo(featuredLabel[0])">
              <ion-text>{{featuredLabel[0].name}}</ion-text>
              <img [src]=featuredLabel[0].logo>
              <ion-text class="truncate-text" color="medium">
                {{featuredLabel[0].shortDescription}}
              </ion-text>
            </div>
            <div class="label-info-box" (click)="showMoreLabelInfo(featuredLabel[1])">
              <ion-text>{{featuredLabel[1].name}}</ion-text>
              <img [src]=featuredLabel[1].logo>
              <ion-text class="truncate-text" color="medium">
                {{featuredLabel[1].shortDescription}}
              </ion-text>
            </div>
          </div>
          </ng-container>
        </div>

      </div>

    <!-- </ng-container> -->
    </div>

  </div>

</ion-content>




<ng-template #labelLoader>
  <ion-text>
    <h4>Featured Label</h4>
  </ion-text>
    <div class="label-info-box">
      <ion-text>No Label Found</ion-text>
      <img src='/assets/databases/No_Image_Available.jpg'>
      <ion-text class="truncate-text" color="medium">
        There's no label DB connection or there are no labels on it try again later.
      </ion-text>
      <div class="rating">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
      </div>
    </div>
</ng-template>



<!-- <ng-template #moreInfo>
  <app-more-info style="margin: auto" [label]="selectedLabelForMoreInfo" [isScanInfo]="isScanInfo" (deselectLabel)="dismissMoreInfo($event)"></app-more-info>
</ng-template> -->