<ng-container [ngSwitch]="currentState">
  <app-scan *ngSwitchCase="'scan'" (scanCompleted)="handleScanCompleted($event)"></app-scan>
  <app-send-image *ngSwitchCase="'sendImage'" 
                  [base64String]="imgEncodedPhotoBase64" 
                  (feedbackFromDetection)="handleFeedbackReceived($event)" 
                  (back)="changeState('scan')">
  </app-send-image>
  <app-feedback *ngSwitchCase="'feedback'" 
                [feedback]="{ labels: detectedLabels, resultImage: resultImage, badges: unlockedBadgesNow }" 
                (scanAgain)="changeState('scan')">
  </app-feedback>
</ng-container>

