<ion-content class="ion-padding">
    
<div class="title">

    <h1 style="margin: 0;">{{'terms-conditions-file.title'|translate}}</h1>
    <ion-button fill="outline" size="small" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </ion-button>
    
</div>

    <p><strong>{{'terms-conditions-file.last-updated'|translate}}</strong> 14/02/2025</p>
    <p>{{'terms-conditions-file.welcome'|translate}}</p>
    
    <h2>{{'terms-conditions-file.acceptance-title'|translate}}</h2>
    <p>{{'terms-conditions-file.downloading'|translate}}</p>
    
    <h2>{{'terms-conditions-file.purpose-title'|translate}}</h2>
    <p>{{'terms-conditions-file.app-allows'|translate}}</p>
    <ul>
        <li>{{'terms-conditions-file.scan-allow'|translate}}</li>
        <li>{{'terms-conditions-file.feedback-allow'|translate}}</li>
        <li>{{'terms-conditions-file.share-allow'|translate}}</li>
    </ul>
    <p>{{'terms-conditions-file.ai-usage'|translate}}</p>
    
    <h2>{{'terms-conditions-file.obligations-title'|translate}}</h2>
    <p>{{'terms-conditions-file.agree-to'|translate}}</p>
    <ul>
        <li>{{'terms-conditions-file.truthful'|translate}}</li>
        <li>{{'terms-conditions-file.scan-responsability'|translate}}</li>
        <li>{{'terms-conditions-file.intellectual-rights'|translate}}</li>
        <li>{{'terms-conditions-file.upload'|translate}}</li>
    </ul>
    
    <h2>{{'terms-conditions-file.GDPR-compliance'|translate}}</h2>
    <p>{{'terms-conditions-file.eu-regulation'|translate}}</p>
    <ul>
        <li><strong>{{'terms-conditions-file.transparency-title'|translate}}</strong> {{'terms-conditions-file.transparency'|translate}}</li>
        <li><strong>{{'terms-conditions-file.limitation-title'|translate}}</strong> {{'terms-conditions-file.limitation'|translate}}</li>
        <li><strong>{{'terms-conditions-file.minimization-title'|translate}}</strong> {{'terms-conditions-file.minimization'|translate}}</li>
        <li><strong>{{'terms-conditions-file.accuracy-title'|translate}}</strong> {{'terms-conditions-file.accuracy'|translate}}</li>
        <li><strong>{{'terms-conditions-file.storage-title'|translate}}</strong> {{'terms-conditions-file.storage'|translate}}</li>
        <li><strong>{{'terms-conditions-file.security-title'|translate}}</strong> {{'terms-conditions-file.security'|translate}}</li>
    </ul>
    <p>{{'terms-conditions-file.rights'|translate}}</p>
    <ul>
        <li>{{'terms-conditions-file.rights-access'|translate}}</li>
        <li>{{'terms-conditions-file.rights-rectification'|translate}}</li>
        <li>{{'terms-conditions-file.rights-erasure'|translate}}</li>
        <li>{{'terms-conditions-file.rights-data-portability'|translate}}</li>
        <li>{{'terms-conditions-file.rights-restrict'|translate}}</li>
        <li>{{'terms-conditions-file.rights-object'|translate}}</li>
    </ul>
    <p>{{'terms-conditions-file.rights-exercise'|translate}} <a href="mailto:3co@enide.eu">3co&#64;enide.eu</a>.</p>
    
    <h2>{{'terms-conditions-file.data'|translate}}</h2>
    <p>{{'terms-conditions-file.data-desc'|translate}}</p>
    <ul>
        <li>{{'terms-conditions-file.data-analyze'|translate}}</li>
        <li>{{'terms-conditions-file.data-training'|translate}}</li>
        <li>{{'terms-conditions-file.data-aggregated'|translate}}</li>
    </ul>
    <p>{{'terms-conditions-file.data-close'|translate}}</p>
    
    <h2>{{'terms-conditions-file.privacy'|translate}}</h2>
    <p>{{'terms-conditions-file.privacy-desc'|translate}}</p>
    
    <h2>{{'terms-conditions-file.property'|translate}}</h2>
    <p>{{'terms-conditions-file.property-desc'|translate}}</p>
    
    <h2>{{'terms-conditions-file.prohibited'|translate}}</h2>
    <ul>
        <li>{{'terms-conditions-file.prohibited-reverse'|translate}}</li>
        <li>{{'terms-conditions-file.prohibited-upload'|translate}}</li>
        <li>{{'terms-conditions-file.prohibited-harmful'|translate}}</li>
        <li>{{'terms-conditions-file.prohibited-exploit'|translate}}</li>
    </ul>
    
    <h2>{{'terms-conditions-file.warranties'|translate}}</h2>
    <p>{{'terms-conditions-file.warranties-as-is'|translate}}</p>
    <ul>
        <li>{{'terms-conditions-file.warranties-as-is-accuracy'|translate}}</li>
        <li>{{'terms-conditions-file.warranties-as-is-availability'|translate}}</li>
    </ul>
    
    <h2>{{'terms-conditions-file.liability'|translate}}</h2>
    <p>{{'terms-conditions-file.liability-extent'|translate}}</p>
    <ul>
        <li>{{'terms-conditions-file.liability-extent-loss'|translate}}</li>
        <li>{{'terms-conditions-file.liability-extent-inaccuracies'|translate}}</li>
    </ul>
    
    <h2>{{'terms-conditions-file.termination'|translate}}</h2>
    <p>{{'terms-conditions-file.termination-desc'|translate}}</p>
    
    <h2>{{'terms-conditions-file.amendments'|translate}}</h2>
    <p>{{'terms-conditions-file.amendments-desc'|translate}}</p>
    
    <h2>{{'terms-conditions-file.law'|translate}}</h2>
    <p>{{'terms-conditions-file.law-desc'|translate}}</p>
    
    <h2>{{'terms-conditions-file.contact'|translate}}</h2>
    <p>{{'terms-conditions-file.email'|translate}}: <a href="mailto:3co@enide.eu">3co&#64;enide.eu</a></p>
    <p>{{'terms-conditions-file.address'|translate}}: Carrer de la Font, 27, Sant Andreu de la Barca, 08740, Barcelona, Spain</p>

  </ion-content>