.register-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;

    img{
        width:35%;
        height: auto;
        margin-bottom: 4rem;
    }
    .input-container {
        width: 90%;
        height: 100%;
        display: inline-grid;
        h3{
            margin:0;
        }
        ion-button{
            width: 100%;
            margin-top: auto;
        }
        .links-container{
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            a{
                margin-left: 1rem;
            }
        }
    }
    .guest-container {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        margin-bottom: 2rem;
        .guest-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            ion-note{
                font-size: smaller;
            }
        }
        ion-button {
            font-size: 0.5rem;
        }
    }
}

.padding-bottom{
    padding-bottom: 1.5rem;
}