<ion-content [fullscreen]="true">

  <div class="register-container">

    <img src="/assets/3CO/23-03-28_3CO-Logo_pos_noBack.png">
    
    <div class="input-container">
      <ion-text class="padding-bottom"><h3><strong>Sign Up</strong></h3></ion-text>
      <br>
      <ion-input class="padding-bottom" [(ngModel)]="name" label="Name" shape="round" label-placement="stacked" fill="outline" placeholder="Enter name" ></ion-input>
      <br>
      <ion-input class="padding-bottom" [(ngModel)]="email" label="Email" shape="round" label-placement="stacked" fill="outline" placeholder="Enter email"></ion-input>
      <br>
      <ion-input class="padding-bottom" [(ngModel)]="password" label="Password" shape="round" type="password" label-placement="stacked" fill="outline" placeholder="Enter password">
        <ion-input-password-toggle></ion-input-password-toggle>
      </ion-input>
      <br>
      <ion-input class="padding-bottom" [(ngModel)]="repassword" label="Re-Type Password" shape="round" type="password" label-placement="stacked" fill="outline" placeholder="Re-enter password">
        <ion-input-password-toggle></ion-input-password-toggle>
      </ion-input>
      <br>
      <ion-text style="font-size: 0.8rem; margin: 0.5rem;">How do you identify yourself?</ion-text>
      <ion-radio-group style="margin: auto;" [(ngModel)]="gender" [value]="gender">
        <ion-radio value="man" labelPlacement="stacked">Man</ion-radio>
        <ion-radio value="woman" labelPlacement="stacked">Woman</ion-radio>
        <ion-radio value="none" labelPlacement="stacked">Not Specified</ion-radio>
      </ion-radio-group>
      <br>
      <ion-button expand="full" shape="round" [disabled]="!canRegister" (click)="register()">Sign Up</ion-button>
      <br>
      <div class="links-container">
        Already have an account. <a href="auth/login">Sign In</a>
      </div>
    </div>

  </div>

</ion-content>
