<ion-content>

  <div style="width: 100%; height: 100%; display: flex;
  flex-direction: column; align-items: center; justify-content: center;">

  
    <div style="margin-top: 1rem; width: 100%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
      <ion-button (click)="goToMainPage()" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <h5 style="margin: 0;">Add new product</h5>
    </div>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" style="width: 90%; height: 100%; margin: 0 auto;">
      <ion-item>
        <ion-input label="Product Name" labelPlacement="floating" formControlName="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Shop Name" labelPlacement="floating" formControlName="shopName" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Shop Location" labelPlacement="floating" formControlName="shopLocation" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Categories"
          labelPlacement="start"
          formControlName="categories">
          <ion-select-option *ngFor="let category of possibleCategories" [value]="category">
            {{ category }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-textarea labelPlacement="floating" label="Description" formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-range labelPlacement="stacked" label="Rating" formControlName="rating" min="0" max="5" step="0.5" snaps="true" ticks="true">
          <ion-icon slot="start" name="star-outline"></ion-icon>
          <ion-icon slot="end" name="star"></ion-icon>
        </ion-range>
        <div style="text-align: center; font-weight: bold; margin-top: 5px;">
          Rating: {{ productForm.get('rating')?.value || 0 }}
        </div>
      </ion-item>
      

      <ion-item>
        <ion-label position="start">Product Image</ion-label>
        <ion-button expand="full" (click)="scan()">Select Image</ion-button>
      </ion-item>

      <!-- Image preview -->
      <div *ngIf="imagePreview" style="text-align: center; margin-top: 10px;">
        <img [src]="imagePreview" alt="Image Preview" style="max-width: 100%; height: auto;" />
      </div>

      <ion-button expand="full" type="submit" [disabled]="productForm.invalid">Add Product</ion-button>
    </form>
  </div>
</ion-content>
