.recovery-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;

    img{
        width:35%;
        height: auto;
        margin-top: 1.5rem;
    }
    .input-container {
        width: 90%;
        display: block;
        margin-top: 15vh;
        h3{
            margin:0;
        }
        .links-container{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        }
    }

}