<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Learn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="learn-list-container">
  
    <div class="title-container">
  
      <!-- <ion-button href="/tabs/learn" fill="clear">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button> -->
  
      <ion-text color="secondary">
        <h2>Learn</h2>
      </ion-text>
  
    </div>
  
    <div class="all-categories-container">
      <div *ngFor="let category of categories" class="category-container">
        <!-- Check if groupedLabels[category.name] is defined before iterating -->
        <ng-container *ngIf="!isGroupCategoryEmpty(category.name)">
          <div style="display: flex; flex-direction: row; justify-items: flex-start; align-items: center;">
            <ion-icon [name]="category.icon"></ion-icon>
            <ion-text class="category-title"><h4 style="margin: 0.5rem;">{{ category.name }}</h4></ion-text>
          </div>
        
          <div class="label-box-container scroll-contianer" >
            <div *ngFor="let link of groupedLinks[category.name]" class="label-box">
              <a [href]="link.url" target="_blank">
                <img [src]="link.image">
                <ion-text style="color: black;">{{link.name | slice:0:15}}</ion-text>
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  
  </ion-content>
