.label-list-container {
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .main-img{
            width: 15%;
            height: auto;
        }
    }
    .title-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        //margin: 0.5rem 1rem;
    }
    .searchbar-filter{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        //margin: 0 1rem;
        justify-content: space-between;
        align-items: center;
        ion-searchbar {
            --background: #7e7e7e30;
            --border-radius: 15px;
        }
    }
    .all-categories-container {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
}


ion-chip > div {
    width: 1.5rem;
    height: 1.5rem;
    background: var(--ion-color-primary);
}
.hexagon {
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}
.circle {
    border-radius: 50%;
}
.rectangle{
    max-height: 1rem;
}
.triangle {
    width: 0; 
    max-height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    background: transparent!important;
    border-bottom: 1.5rem solid var(--ion-color-primary);
}

.octagon {
    width: 1.5rem;
    aspect-ratio: 1;
    --o:calc(50%*tan(-22.5deg));
    clip-path: polygon(
      var(--o) 50%,
      50% var(--o),
      calc(100% - var(--o)) 50%,
      50% calc(100% - var(--o))
    );
    background: #3B8686;
  }