app-scan{
    width: 100%;
    height: -webkit-fill-available;
}
app-send-image{
    width: 100%;
    height: -webkit-fill-available;
}
app-feedback{
    width: 100%;
    height: -webkit-fill-available;
}