<ion-content>
  <div id="home-container">
    
    <div id="title">
      <ion-text color="secondary">
        <h1>{{"label.discover"|translate}}</h1>
      </ion-text>
      <img src="assets/3CO/3_CO_sin_letras.png">
    </div>

    
    <div id="content">
      <!-- <ng-container *ngIf="!isLabelSelected else moreInfo"> -->

      <div id="descriptive-container">
        <div id="description">
          <ion-text color="secondary">
            <h4><strong>{{"label.welcome"|translate}}</strong></h4>
          </ion-text>
          <ion-note>{{"label.scan_desc"|translate}}</ion-note>
        </div>
        
        <div class="scan-container">
          <div id="scan-banner">
            <ion-text style="color: white;">
              <p><strong>{{"label.earn"|translate}}</strong></p>
            </ion-text>
            <ion-button (click)="scan()" shape="round" color="primary">{{"label.scan"|translate}}</ion-button>
          </div>
          <img src="assets/3CO/QRCode_read.png">
        </div>

        <div id="discover">
          <ion-text>
            <p style="font-weight: bold; color:var(--ion-color-primary)">{{"label.discover_labels"|translate}}</p>
          </ion-text>
          <ion-button (click)="seeMoreLabels()" color="primary" fill="clear" shape="round">
            <ion-label id="scan-label">{{"label.see"|translate}}</ion-label>
          </ion-button>
        </div>

        
        <div class="labels-container">
          <ng-container *ngIf="featuredLabel!=null else labelLoader">
          <ion-text>
            <h4>{{"label.featured"|translate}}</h4>
          </ion-text>
            <div class="label-info-box" (click)="showMoreLabelInfo(featuredLabel)">
              <ion-text>{{featuredLabel.name}}</ion-text>
              <img [src]=featuredLabel.logo>
              <ion-text class="truncate-text" color="medium">
                {{featuredLabel.shortDescription}}
              </ion-text>
              <div class="rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half-outline"></ion-icon>
              </div>
            </div>
          </ng-container>
        </div>

      </div>

    <!-- </ng-container> -->
    </div>

  </div>

</ion-content>




<ng-template #labelLoader>
  <ion-text>
    <h4>{{"label.featured"|translate}}</h4>
  </ion-text>
    <div class="label-info-box">
      <ion-text>{{"label.no_label"|translate}}</ion-text>
      <img src='/assets/databases/No_Image_Available.jpg'>
      <ion-text class="truncate-text" color="medium">
        {{"label.db_connection"|translate}}
      </ion-text>
      <div class="rating">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half-outline"></ion-icon>
      </div>
    </div>
</ng-template>



<!-- <ng-template #moreInfo>
  <app-more-info style="margin: auto" [label]="selectedLabelForMoreInfo" [isScanInfo]="isScanInfo" (deselectLabel)="dismissMoreInfo($event)"></app-more-info>
</ng-template> -->