<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">

          <ion-list-header style="margin-bottom: 1rem; padding-right: 1rem;"><img style="width: 2rem; margin-right: auto;" src="assets/3CO/3_CO_sin_letras.png">3CO</ion-list-header>
          <ion-note style="width: 100%;
          padding-right: 1rem;
          text-align: right;">Concise Consumer Communication</ion-note>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="home" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="labels" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" name="bookmark-outline"></ion-icon>
                <ion-label>Label Certifications</ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" routerLink="learn" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" name="school-outline"></ion-icon>
                <ion-label>Learn</ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>

          <div slot="start" style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start;">
            <img style="margin-left: 1rem;" width="30px" src="assets/3CO/eu_flag.png">
            <ion-note style="margin: auto;">EU funded</ion-note>
          </div>
          <ion-buttons slot="end">
            <ion-button (click)="changeMode()" fill="outline" shape="round" color="primary">
              <ion-icon name="invert-mode-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
