<ion-content>
  <div class="container">
    <img src="/assets/3CO/23-03-28_3CO-Logo_pos_noBack.png">
    <div class="text-container">
      <ion-text><strong>
          <h3 style="padding:0; margin:0; margin-bottom: 1rem">{{'start-screen.welcome'|translate}}</h3>
        </strong></ion-text>
      <ion-note>{{'start-screen.note'|translate}}</ion-note>
      <ng-container *ngIf="!isModelLoaded && loading">
        <ion-progress-bar style="margin-top: 1rem;" [value]="progress" color="primary"></ion-progress-bar>
        <ion-note style="font-size: 0.8rem; margin-top: 0.5rem; display: block;">
          {{ progress > 0.01 ? 'Downloading translation model... ' + (progress | percent) : 'Loading translation
          model...'
          }}
        </ion-note>
      </ng-container>
    </div>
    <ion-button [disabled]="!isModelLoaded" shape="round" expand="full" color="primary"
      (click)="navigateToAuth()">{{'start-screen.next'|translate}}</ion-button>
  </div>

</ion-content>