<div class="more-info-container">
  
  <div class="header">
    <ion-button (click)="goBack()" color="transparent" fill="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-text><h3>{{label.name}}</h3></ion-text>
  </div>

  <div class="info-body">
    <img [src]="label.logo">

    <ion-text><h3>{{'more-info.origin'|translate}}</h3></ion-text>
    <ion-note>{{label.country}}</ion-note>

    <ion-text><h3>{{'more-info.description'|translate}}</h3></ion-text>
    <ion-note>{{label.description}}</ion-note>

    <ion-text><h3>{{'more-info.colours'|translate}}</h3></ion-text>
    <ion-note>{{label.mainColor}}</ion-note>

    <ion-text><h3>{{'more-info.keywords'|translate}}</h3></ion-text>
    <ion-note>{{label.keywords}}</ion-note>
  </div>

  <div class="ranking-container">
    
    <div class="info-rank-box">
      <ion-note style="font-size: 0.45rem;">{{'more-info.credibility'|translate}}</ion-note>
      <div class="rank-box">
        <ion-icon name="star"></ion-icon>
        <ion-text>
          {{ranking1}}
        </ion-text>
      </div>
    </div>
    <div class="info-rank-box">
      <ion-note style="font-size: 0.45rem;">{{'more-info.env'|translate}}</ion-note>
      <div class="rank-box">
        <ion-icon name="star"></ion-icon>
        <ion-text>
          {{ranking2}}
        </ion-text>
      </div>
    </div>
    <div class="info-rank-box">
      <ion-note style="font-size: 0.45rem;">{{'more-info.socio-eco'|translate}}</ion-note>
      <div class="rank-box">
        <ion-icon name="star"></ion-icon>
        <ion-text>
          {{ranking3}}
        </ion-text>
      </div>
    </div>
  </div>

</div>