
 <div class="header">
  <img (click)="goToMainPage()" class="main-img" src="assets/3CO/3_CO_sin_letras.png" alt="3-CO">
  <ion-chip (click)="goToProfile()">
    <ion-avatar >
      <img [src]="currentUser.avatarImg" alt="3-CO">
    </ion-avatar>
    <ion-text>
      {{currentUser.name}}
    </ion-text>
  </ion-chip>
</div>  

  <ng-container *ngIf="!isCreateReview else reviewTemplate">
    
    <div class="product-container">
      <ion-content style="--background: var(--ion-card-background)">
        <div class="top-info">
          <ion-button fill="clear" (click)="goBack()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
          <ion-text>{{product.name}}</ion-text>
            <app-rating [rating]="product.rating"></app-rating>
        </div>
        <div class="product-img-contianer">
          <img [src]="product.image">
        </div>
        <br>
        <ion-button [href]="getGoogleSearchUrl(product.name, product.shopName)" 
        target="_blank" expand="block" fill="outline" shape="round">
          <ion-icon style="padding-right: 1rem;" name="logo-google"></ion-icon>
          <ion-text slot="end">{{"product.search"|translate}}</ion-text>
        </ion-button>
        <br>
        <div class="shop-category-info">
          <ion-text><ion-note>{{"product.category"|translate}}: </ion-note>{{product.categories}}</ion-text>
          <ion-text><ion-note>{{"product.shop"|translate}}: </ion-note>{{product.shopName}}</ion-text>
        </div>
        <ion-text style="width: 90%;"><h5>{{"product.description"|translate}}: </h5></ion-text>
        <ion-note style="width: 90%; text-align: start;">{{product.description}}</ion-note>
        <div class="reviews-title">
          <ion-text><h5>{{"product.review"|translate}}</h5></ion-text>
          <ion-button style="--padding-start: 0.5rem; --padding-end: 0.5rem"
            color="secondary" shape="round" fill="outline" (click)="editReview()">
            <ion-icon name="add-outline"></ion-icon>
            {{"product.review"|translate}}
          </ion-button>
        </div>
  
      <!-- <div class="reviews-container" >
        <div class="single-review-container" *ngFor="let review of productReviews">
          <div class="user-info-container">
            <ion-text><ion-note>Reviewer: </ion-note>{{review.creatorUsername}}</ion-text>
            <app-rating [rating]="review.rating"></app-rating>
          </div>
          <div class="review-info-container">
            <img *ngIf="review.image" [src]="review.image">
            <div class="review-description">
              <ion-text><h5 style="margin: 0;">{{review.title}}</h5></ion-text>
              <ion-note>{{review.description}}</ion-note>
            </div>
          </div>
        </div>
      </div> -->
      
      <ion-list class="reviews-container" >

        <ng-container *ngIf="reviewsFetched else reviewSkeleton">
          
          <div class="single-review-container" *ngFor="let review of productReviews">
            <div class="user-info-container">
              <ion-text><ion-note>{{"product.reviewer"|translate}}: </ion-note>{{review.creatorUsername}}</ion-text>
              <app-rating [rating]="review.rating"></app-rating>
            </div>
            <div class="review-info-container">
              <img *ngIf="review.image" [src]="review.image">
              <div class="review-description">
                <ion-text><h5 style="margin: 0;">{{review.title}}</h5></ion-text>
                <ion-note>{{review.description}}</ion-note>
              </div>
            </div>
          </div>

        </ng-container>

      </ion-list>
  
      <ion-infinite-scroll
        (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content
          loadingText="Loading more reviews...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
    </ion-content>
    </div>
  
  </ng-container>



<ng-template #reviewSkeleton>
  <div class="single-review-container" *ngFor="let review of [1,2,3,4,5]">
    <div class="user-info-container">
      <ion-skeleton-text></ion-skeleton-text>
      <ion-skeleton-text ></ion-skeleton-text>
    </div>
    <div class="review-info-container">
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <div class="review-description">
        <ion-skeleton-text><h5 style="margin: 0;"></h5></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
      </div>
    </div>
  </div>
</ng-template>




<ng-template #reviewTemplate>
  <div class="review-poster">

    <div class="top-info">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-text>{{product.name}}</ion-text>
        <app-rating [rating]="product.rating"></app-rating>
    </div>

    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()" style="width: 90%; height: auto; overflow: scroll; margin: 0 auto;">

      <ion-item>
        <ion-input label="Creator" labelPlacement="stacked" [disabled]="true" type="text" [value]="currentUser.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Title" placeholder="What's the most important to know?" labelPlacement="stacked" [required]="true" formControlName="title" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea labelPlacement="stacked" placeholder="What did you like or dislike? What did you use this product for?"
        label="Comment" formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-range [required]="true" labelPlacement="stacked" label="Rating" formControlName="rating" min="0" max="5" step="1" snaps="true" ticks="true">
          <ion-icon slot="start" name="star-outline"></ion-icon>
          <ion-icon slot="end" name="star"></ion-icon>
        </ion-range>
        <div style="text-align: center; font-weight: bold; margin-top: 5px;">
          {{"product.rating"|translate}}: {{ reviewForm.get('rating')?.value || 0 }}
        </div>
      </ion-item>
      

      <ion-item>
        <ion-label position="start">{{"product.image"|translate}}</ion-label>
        <ion-button expand="full" (click)="scan()">{{"product.select"|translate}}</ion-button>
      </ion-item>
      <!-- Image preview -->
      <div *ngIf="imagePreview" style="text-align: center; margin-top: 10px;">
        <img [src]="imagePreview" alt="Image Preview" style="max-width: 100%; height: auto;"/>
      </div>
      <ion-button expand="full" type="submit" [disabled]="reviewForm.invalid">{{"product.add_review"|translate}}</ion-button>
    </form>

  </div>
</ng-template>

